{% load static %}

<!-- create post -->
<div class="block_page create_post d-flex justify-content-between align-items-center">
    <div class="d-flex align-items-center">
        <img src="{% static 'img/profile.png' %}" alt="" class="profile_img">
        <div class="info">
            <h3 class="name">Andrew, happens something new?</h3>
            <p class="text">Tell about it to community</p>
        </div>
    </div>
    <div>
        <a href="" class="btn btn-primary"><p>Create a post</p></a>
    </div>
</div>
<!-- end create post -->