{% load static %}

<!-- на кого подписаться -->
<div class="block_page_secondary">
    <h3 class="name">Who to follow</h3>
    <div class="profile_block">
        {% for top_user in top_users %}
        <div class="profile d-flex justify-content-between align-items-center">
            <div class="prifile_data d-flex align-items-center">
                <img src="{% static 'img/profile.png' %}" alt="" class="profile_img">
                <div class="text_data">
                    {% if top_user.first_name %}
                        <a href=""><p class="name">{{ top_user.first_name }}</p></a>
                    {% else %}
                        <a href=""><p class="name">{{ top_user.username }}</p></a>
                    {% endif %}
                    <p class="text">@{{ top_user.username }}</p>
                </div>
            </div>
            <div class="follow_btn">
                {% if user.is_authenticated %}
                {% if top_user != user %}
                    {% if top_user in get_following %}
                        <form action="{% url 'unfollow' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="follow_by" id="follow_by_user" value="{{ top_user.id }}">
                            <button type="submit" class="btn btn-black"><p>Unfollow</p></button>
                        </form>
                    {% else %}
                        <form action="{% url 'follow' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="follow_by" id="follow_by_user" value="{{ top_user.id }}">
                            <button type="submit" class="btn btn-black"><p>Follow</p></button>
                        </form>
                    {% endif %}
                {% endif %}
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!-- на кого подписаться -->