{% load static %}

<!-- на кого подписаться -->
<div class="block_page_secondary">
    <h3 class="name">Who to follow</h3>
    <div class="profile_block">
        <div class="profile d-flex justify-content-between align-items-center">
            <div class="prifile_data d-flex align-items-center">
                <img src="{% static 'img/profile.png' %}" alt="" class="profile_img">
                <div class="text_data">
                    <a href=""><p class="name">Andrew</p></a>
                    <p class="text">@andrew</p>
                </div>
            </div>
            <div class="follow_btn">
                <a href="" class="btn btn-black"><p>Follow</p></a>
            </div>
        </div>
        <div class="profile d-flex justify-content-between align-items-center">
            <div class="prifile_data d-flex align-items-center">
                <img src="{% static 'img/profile.png' %}" alt="" class="profile_img">
                <div class="text_data">
                    <a href=""><p class="name">Andrew</p></a>
                    <p class="text">@andrew</p>
                </div>
            </div>
            <div class="follow_btn">
                <a href="" class="btn btn-black"><p>Follow</p></a>
            </div>
        </div>
    </div>
</div>
<!-- на кого подписаться -->