<!-- топики -->
<div class="block_page_secondary">
    <h3 class="name">Trends for you</h3>
    <div class="topic_block">
        <div class="topic">
            <p class="text">Trending</p>
            <a href=""><h3 class="name">NFTs</h3></a>
            <p class="text">4 500 feeds</p>
        </div>
        <div class="topic">
            <p class="text">Trending in whole world</p>
            <a href=""><h3 class="name">Jesus</h3></a>
            <p class="text">4 500 feeds</p>
        </div>
        <div class="topic">
            <p class="text">Politicks / Trending</p>
            <a href=""><h3 class="name">Ukranians</h3></a>
            <p class="text">4 500 feeds</p>
        </div>
    </div>
    <a href="" class="show">Show more</a>
</div>
<!-- топики -->