{% extends 'blog/page_layout.html' %}

{% block contant %}
	<div class="contant">
		<div class="container">
			{% include "include/title.html" %}


			<div class="row">
				<div class="col-lg-8">
					<!-- create post -->
					{% include "include/create_post_plate.html" %}
					<!-- end create post -->
					{% for post in posts_list %}

					<!-- post text -->
                    <!-- https://stackoverflow.com/questions/57219323/is-there-a-way-to-use-mixins-in-django-templates-like-in-sass -->
                    	{% include "include/post.html" with post=post %}
					<!-- end post text -->
					{% endfor %}
				</div>
				<div class="col-lg-4">
					<div class="sticky">
						<!-- топики -->
						{% include "include/topic_block.html" %}
						<!-- топики -->

						<!-- на кого подписаться -->
						{% include "include/popular-block.html" %}
						<!-- на кого подписаться -->
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}